@font-face {
    font-family: "Commissioner";
    src: url(/fonts/Commissioner.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: url(/images/background.jpg) no-repeat fixed left;
    background-size: cover;
    font-family: "Commissioner";
    font-size: 150%;
    word-break: break-all;
    padding-left: 180px;
    padding-right: 400px;
    padding-top: 300px;
}

.content {

    padding-bottom: 100px;
}
.footer {
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Левый нижний угол */
    width: 100%;
    padding-bottom: 30px;
    background: inherit;
}